mat-card-title,
mat-card-content,
mat-label,
mat-option,
.font-config {
  font-family: "Vazirmatn", sans-serif;
}
button {
  font-family: "Vazirmatn", sans-serif;
}

.new-training {
  padding: 30px;
}
