<div
  class="welcome"
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutGap.gt-md="20px"
  fxLayoutAlign="center center"
>
  <section>
    <h1>فعالیت ها</h1>
    <p>تحرک داشته باشید و از زندگی سلامت لذت ببرید</p>
  </section>

  <section>
    <h1>گپ</h1>
    <p>افراد دیگری ک با شما هم مسیرند را پیدا کنید و با آنها هم صحبت شوید</p>
  </section>

  <section>
    <h1>چالش ها</h1>
    <p>
      چالش های روزانه ی خود را به اتمام برسانید و انگیزه ی خود را از دست ندهید
    </p>
  </section>
</div>
